.wholeScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mobNav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    height: 52px;
    background-color: var(--main-bg);
    color: var(--theme-text);
}

.mobNav .userName{
    font-size: 16px;
    font-weight: bold;
}

.mobNavRight{
    display: flex;
    gap: 10px;
    color: var(--theme-text);
}

.mobNavIcons{
    color: var(--theme-text);
}