.mainCont{
    background-color: var(--main-bg);
    height: calc(100vh - 7vh);
    padding: 5px 15px;
    margin-top: 58px;
}

.mainCont h1{
     margin: 0;
     font-size: 23px;
     color: var(--theme-text);
}

.fixedContainerTop{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    align-items: center;
    background-color: var(--main-bg);
}

.fixedContBtns{
    color: var(--theme-text);
}

.viewProfBtn{
    background-color: var(--nav-bg);
    padding: 10px 12px;
    color: var(--theme-text);
    text-decoration: none;
    display: flex;
    border-radius: 5px;
    gap: 10px;
}

.viewProfText{
    display: flex;
    flex-direction: column;

}

.profPic{
    background-color: green;
    color: var(--theme-text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 20px;
}

.viewProfBtn p{
    margin: 0px;
    color: var(--theme-text);
}

.viewProfBtn{
    color: gray;
}

.otherMenuOptions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 15px 0px;
}

.uiLabels{
    display: block;
}

.optBtn{
    background-color: var(--nav-bg);
    padding: 10px;
    border-radius: 5px;
    color: var(--theme-text);
    text-decoration: none;
}

.optBtn p{
    margin: 0;
}

hr{
    border: none;
    height: 1px;
    background-color: gray;
}

.settingsOptList{
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settingsOptList li{
    background-color: var(--nav-bg);
    padding: 15px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--theme-text);
    border-radius: 5px;
    justify-content: space-between;
}

.settingsOptList button{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px;
    background-color: var(--nav-bg);
    color: var(--theme-text);
    border: none;
    font-size: 16px;
}

.settingsOptList li p{
    margin: 0px;
}

.settingsOptList li div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.Link{
    display: flex;
    color: var(--theme-text);
    text-decoration: none;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.toggleBtn{
    width: 45px;
    border-radius: 20px;
    display: flex;
}