.mainContent{
    background-color: var(--main-bg);
    margin-top: 50px;
    height: 100vh;
}

.profBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bannerImgCont{
    background-color: rgb(23,23,23);
    width: 77%;
    height: 410px;
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
    display: flex; 
}

.bannerImgCont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profImgCont{
    width: 150px;
    height: 150px;
    border-radius: 90px;
    overflow: hidden;
}

.profImgCont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profDeets{
    padding: 25px 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 70%;
    justify-content: space-between;
}

@media (max-width: 412px){
    .bannerImgCont{
        height: 200px;
    }

    .mainContent{
        margin-top: 52px;
    }

    .profImgCont{
        height: 50px;
        width: 50px;
    }

    .profDeets{
        /* display: none; */
        padding: 0px;
        width: 100%;
    }

    .bannerImgCont{
        width: 100%;
        height: 130px;
        border-radius: 0px;
    }

    .profOption{
        display: none;
    }
}