.mainNav{
    background-color: var(--nav-bg);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 15px; */
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navLogo{
    width: 38px;
}

.left{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
    width: 290px;
    padding: 3px 15px 3px 0px;
}

.right{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
    /* background-color: green; */
    padding: 3px 15px;
}

.rightSideIcons{
    border-radius: 20px;
    border: none;
    padding: 9px;
    display: flex;
    justify-items: center;
    align-items: center;
    color: var(--theme-text);
    background-color: var(--btnColor);
    position: relative;
}

.rightSideIcons:hover{
    background-color: var(--hoverBtn);
    cursor: pointer;
}


.hoverIcon{
    position: absolute;
    bottom: -55px;
    left: -20px;
    color: var(--nav-bg);
    border-radius: 10px;
    background-color: var(--theme-text);
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 3s;
}

.rightSideIcons:hover .hoverIcon{
    visibility: visible;
    opacity: 1;
}

.profPic{
    /* background-color: cyan; */
    text-decoration: none;
    position: relative;
}

.hoverProf{
    position: absolute;
    bottom: -40px;
    left: -15px;
    color: var(--nav-bg);
    font-size: 13px;
    border-radius: 10px;
    background-color: var(--theme-text);
    padding: 10px;
    display: none;
}

.profPic:hover .hoverProf{
    display: block;
}

.tempProf{
    text-decoration: none;
    color: white;
    padding: 9px 14px;
    border-radius: 20px;
    background-color: black;
}

.leftSideA{
    flex: none;
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 15px;
}

.backBtn{
    color: var(--theme-text);
    border: none;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-bg);
}

.left:focus-within .leftSideA{
    padding-left: 10px;
}

.searchCont{
    display: flex;
    align-items: center;
    flex: 1;
    height: 70%;
    position: relative;
}

.searchBar{
    height: 100%;
    flex: 1;
    background-color: rgb(242, 244, 247);
    border: none;
    border-radius: 20px;
    padding-left: 35px;
    font-size: 15px;
}

.searchBar:focus{
    outline: none;
    padding: 1px 15px;
}

.searchBar:focus + .searchIcon{
    display: none;
    padding: 0px 0px 0px 15px;
}

.searchBar:focus + .leftSideA{
    padding: 0px 0px 0px 5px;
}

.searchIcon{
    position: absolute;
    left: 10px;
    top: 10px;
    color: rgb(116, 116, 116);
}


.backBtn:hover{
    background-color: var(--btnColor);
    cursor: pointer;
}