.mainNav{
    background-color: var(--nav-bg);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 15px; */
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navLogo{
    width: 38px;
}

.left{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
    width: 290px;
    padding: 3px 15px 3px 0px;
}

.right{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
    /* background-color: green; */
    padding: 3px 15px;
}

.optName{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rightSideIcons{
    border-radius: 20px;
    border: none;
    padding: 9px;
    display: flex;
    justify-items: center;
    align-items: center;
    color: var(--theme-text);
    background-color: var(--btnColor);
    position: relative;
}

.rightSideIcons:hover{
    background-color: var(--hoverBtn);
    cursor: pointer;
}


.hoverIcon{
    position: absolute;
    bottom: -55px;
    left: -20px;
    color: var(--nav-bg);
    border-radius: 10px;
    background-color: var(--theme-text);
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 3s;
}

.rightSideIcons:hover .hoverIcon{
    visibility: visible;
    opacity: 1;
}

.profPic{
    /* background-color: cyan; */
    text-decoration: none;
    position: relative;
    color: var(--theme-text);
}

.hoverProf{
    position: absolute;
    bottom: -40px;
    left: -15px;
    color: var(--nav-bg);
    font-size: 13px;
    border-radius: 10px;
    background-color: var(--theme-text);
    padding: 10px;
    display: none;
    z-index: 1000;
}

.profDropDown{
    position: absolute;
    background-color: var();
    right: 0;
    border-radius: 5px;
    padding: 1px 10px;
    background-color: var(--nav-bg);
    box-shadow: var(--shadowBox);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profDropDown ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 5px;
}

.profDropDown li{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border-width: 1px;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.dropDownOption{
    display: flex;
    gap: 10px;
    justify-items: left;
    align-items: center;
    border-width: 1px;
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--theme-text);
    width: 100%;
    height: 100%;
}

.profDropDown li:hover{
    background-color: var(--btnColor);
}

.profDropDown p{
    white-space: nowrap;
    line-height: 0;
}

.dropDownPic{
    overflow: hidden;
    width: 35px;
    height: 35px;
    background-color: green;
    border-radius: 40px;
}

.dropDownPic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.tempProf{
    text-decoration: none;
    color: white;
    padding: 9px 14px;
    border-radius: 20px;
    background-color: green;
    cursor: pointer;
}

.tempProf:hover + .hoverProf{
    display: block;
}

.leftSideA{
    flex: none;
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 15px;
}

.backBtn{
    color: var(--theme-text);
    border: none;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-bg);
}

.left:focus-within .leftSideA{
    padding-left: 10px;
}

.searchCont{
    display: flex;
    align-items: center;
    flex: 1;
    height: 70%;
    position: relative;
}

.searchBar{
    height: 100%;
    flex: 1;
    background-color: rgb(242, 244, 247);
    border: none;
    border-radius: 20px;
    padding-left: 35px;
    font-size: 15px;
}

.searchBar:focus{
    outline: none;
    padding: 1px 15px;
}

.searchBar:focus + .searchIcon{
    display: none;
    padding: 0px 0px 0px 15px;
}

.searchBar:focus + .leftSideA{
    padding: 0px 0px 0px 5px;
}

.searchIcon{
    position: absolute;
    left: 10px;
    top: 10px;
    color: rgb(116, 116, 116);
    pointer-events: none;
}


.backBtn:hover{
    background-color: var(--btnColor);
    cursor: pointer;
}

.mobNav{
    display: none;
}

.navBar1{
    display: none;
    padding: 5px 0px;
}

.navBar2{
    /* background-color: green; */
    width: 100%;
    display: flex;
    /* padding: 5px; */
    /* display: none; */
    border-top: 1px solid rgb(223, 223, 223);
}

.bar2Btns{
    /* background-color: orange; */
    flex: 1;
    display: flex;
    padding: 12px 0px;
    justify-content: center;
    color: var(--theme-text);

}

@media (max-width: 412px) {
    .mainNav{
        display: none;
    }

    .mobNav{
        background-color: var(--nav-bg);
        /* height: 100px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* padding: 0px 15px; */
        box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .rMobNav{
        display: flex;
        gap: 10px;
        align-items: center;
        height: 100%;
        padding: 3px 15px 3px 0px;
        /* background-color: green; */
    }

    .mSearchBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70%;
        position: relative;
        background-color: rgb(242, 244, 247);
        width: 35px;
        padding: 10px 0px;
        border-radius: 20px;
        color: black;
    }

    .searchIcon2{
        color: rgb(116, 116, 116);
    }

    .searchIcon{
        color: rgb(116, 116, 116);
        pointer-events: none;
    }
    
    .mMenu{
        background-color: rgb(242, 244, 247);
        padding: 10px 0px;
        border-radius: 20px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }

    .navBar1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}