:root{
    --bgColor: rgb(242, 244, 247)
}

:root.dark-theme{
    --bgColor: rgb(28,30,33);
}

.mainCont{
    background-color: var(--main-bg);
    height: 100vh;
    margin-top: 50px;
    display: flex;
}

.left{
    flex: 1;
    border-right: solid;
    border-width: 1px;
    border-color: gray;
    padding: 10px;
    overflow-y: auto;
    color: var(--theme-text);
}

.leftBtns{
    padding: 0px 17px;
    border-radius: 7px 0px 0px 7px;
    display: flex;
    align-items: center;
    gap: 15px;
    overflow-x: hidden;
    cursor: pointer;
}

.leftBtns:hover{
    background-color: var(--hoverBtn);
}

.mid{
    flex: 2;
    border-right: solid;
    border-width: 1px;
    border-color: gray;
    padding: 20px;
}

.right{
    flex: 1;
    padding: 20px;
}

.postNew{
    background-color: green;   
    display: flex;
    padding: 15px;
    border-radius: 10px;
    gap: 5px;
    background-color: var(--nav-bg)
}

.postBtn{
    flex: 1;
    height: auto;
    border: none;
    border-radius: 20px;
    background-color: var(--btnColor);
    padding: 0px 20px;
    color: var(--theme-text);
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.postOpt{
    border: none;
    height: 100%;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    background-color: var(--nav-bg);
    cursor: pointer;
    color: var(--theme-text);
}

.postOpt:hover{
    background-color: var(--hoverBtn);
}

.postBtn:hover{
    background-color: var(--hoverBtn);
}

.profDisp{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
}

@media (max-width: 412px){
    .left{
        display: none;
    }

    .right{
        display: none;
    }
    .mainCont{
        margin-top: 110px;
    }
}